/*===========
    MAIN
============*/

* {position:absolute; margin:0; padding:0; cursor:pointer;}

#container {
  width: 300px;
  height: 250px;
  border: 1px solid #E0E0E0;
}

/*==============
  COMMON IMAGES
===============*/

#logo {
  top: 22px;
  left: 169px;
}

#speedline {
  top: 22px;
  left: 0;
}

#oneworld {
  top: 221px;
  left: 13px;
}

#elipse-background {
  top: 0;
  left: 0;
  z-index: 1;
  /*background-color: #FFFFFF;*/
}

/*=============
   FRAME ONE
=============*/

#frame-1 {
  /*display: none;*/
}

#elipse1 {
  top: 0;
  left: 0;
  z-index: 1;
}

#note1 {
  top: 63px;
  left: 18px;
  z-index: 2;
}

#text1 {
  top: 189px;
  left: 170px;
}

/*=============
   FRAME TWO
=============*/

#frame-2 {
  /*display: none;*/
}

#elipse2 {
  z-index: 1;
  top: 0;
  left: 0;
}

#text2 {
  top: 189px;
  left: 151px;
}

/*==============
   FRAME THREE
===============*/

#frame-3 {
  /*display: none;*/
}

#elipse3 {
  z-index: 1;
  top: 0;
  left:0;
}

#conditions {
  top: 226px;
  left: 39px;
}

#direct {
  top: 71px;
  left: 31px;
  z-index: 2;
}

#button {
  top: 111px;
  left: 38px;
  z-index: 2;
}

#dotcom {
  top: 117px;
  left: 59px;
  z-index: 3;
}

#resetArrow {
  height: 27px;
  width: 22px;
  top: 220px;
  left: 270px;
}

/*================
    TRANSITION
=================*/

.hide, .show {
    -webkit-transition: all 0.75s ease-in-out;
    -moz-transition: all 0.75s ease-in-out;
    -o-transition: all 0.75s ease-in-out;
    transition: all 0.75s ease-in-out;
}

.hide {
    opacity: 0;
}
.show {
    opacity: 1;
}
